body{
  background-image: url('/screenbackground.png'); /* Adjust the path as necessary */
  background-size: cover; /* This will ensure the background covers the entire element */
  background-position: center; /* This will center the background image */

}

.game-container {
  display: flex;
  background-color: #303030; /* Dark base color for post-apocalyptic feel */
  background-image: 
    linear-gradient(135deg, rgba(45, 45, 45, 0.6) 25%, transparent 25%),
    linear-gradient(225deg, rgba(45, 45, 45, 0.6) 25%, transparent 25%),
    linear-gradient(315deg, rgba(45, 45, 45, 0.6) 25%, transparent 25%),
    linear-gradient(45deg, rgba(45, 45, 45, 0.6) 25%, transparent 25%);
  background-size: 60px 60px; /* Size of the pattern */
  background-position: 0 0, 30px 30px, 30px 30px, 0 0; /* Positioning of the gradient layers */
}


#leaderboard {
  width: 250px;
  float: left;
  /* Other styling properties */
}

#phaser-example {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will take the full viewport height */
}


